/**
 * @file file_browser.preview.css
 */

.file-browser-preview-dialog {
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  max-width: none !important;
  height: 100% !important;
}

.file-browser-preview-dialog #drupal-modal {
  width: 100% !important;
  height: 100% !important;
  max-height: none !important;
  margin-top: -20px;
  padding-top: 0;
  background: #2d2d2d;
}

#file-browser-preview-wrapper {
  max-width: 90%;
}

.file-browser-preview-dialog.ui-dialog .ui-dialog-titlebar {
  border-radius: 0;
  background-color: #2d2d2d;
}

.file-browser-preview-dialog.ui-dialog .ui-dialog-title {
  color: transparent;
}
